BushidoAdministration.HourTicket/.vs
BushidoAdministration.HourTicket/BushidoAdministration.HourTicket.api/logs
BushidoAdministration.HourTicket/BushidoAdministration.HourTicket.api/obj
BushidoAdministration.HourTicket/BushidoAdministration.HourTicket.api/bin
